<p style="font-family: Arial; font-size:3.75em;color:purple; font-style:bold"><br>
AKASH GUPTA :
</p><br>
<marquee>AKASH GUPTA (AXG170018)</marquee>

<p style="font-family: Arial; font-size:1.2em;color:green; font-style:bold"><br>
#1.	Please download spam.csv from eLearning.<br />
#2.	Train a Naïve Bayes model to predict spam.<br />
#3.	Report the accuracy rate for your training and test datasets.<br />
</p><br>

In [1]:
import pandas as pd
import numpy as np
from sklearn.metrics import accuracy_score

In [2]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [3]:
spam_df=pd.read_csv("spam.csv",encoding='latin-1')

In [4]:
spam_df.head(5)

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN

In [5]:
# Rename the columns and also change the column v1 so that we can say whether the mail is a spam ='1' or not a spam='0'
new_spam_df = spam_df.rename(columns={'v2': 'MESSAGE', 'v1': 'SPAM'})
new_spam_df=new_spam_df.drop(columns=['Unnamed: 2','Unnamed: 3','Unnamed: 4'])

In [6]:
#cleaned table with two columns SPAM and MESSAGE
new_spam_df.head(5)

   SPAM                                            MESSAGE
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [7]:
#knowing the summary stats using describe 
new_spam_df['MESSAGE'].describe()

count                       5572
unique                      5169
top       Sorry, I'll call later
freq                          30
Name: MESSAGE, dtype: object

In [8]:
# GROUPING BY TOP MESSAGE IN SPAM OR HAM for exploratory data analysis
new_spam_df['MESSAGE'].groupby(new_spam_df['SPAM']).describe()

     count unique                                                top freq
SPAM
ham   4825   4516                             Sorry, I'll call later   30
spam   747    653  Please call our customer service representativ...    4

In [9]:
#CREATING TRAINING AND TESTING DATA
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test = train_test_split(new_spam_df['MESSAGE'],new_spam_df['SPAM'],test_size=0.3)

In [10]:
#SHOWING SIZE OF EACH training and testing sets 
X_train.shape
X_test.shape
Y_train.shape
Y_test.shape

(3900,)

(1672,)

(3900,)

(1672,)

In [11]:
#Text Pre-processing to show how a string  can be cleaned 
import string
mess = 'sample message!...'
nopunc=[char for char in mess if char not in string.punctuation]
nopunc=''.join(nopunc)
print(nopunc)

sample message

In [12]:
#importing nltk package and downloading the package stop words
import nltk 
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/akashgupta/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [13]:
from nltk.corpus import stopwords
stopwords.words('english')[0:10]

['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're"]

In [15]:
nopunc.split()

['sample', 'message']

In [16]:
clean_mess=[word for word in nopunc.split() if word.lower() not in stopwords.words('english')]
clean_mess

['sample', 'message']

In [17]:
def text_process(mess):
    nopunc =[char for char in mess if char not in string.punctuation]
    nopunc=''.join(nopunc)
    return [word for word in nopunc.split() if word.lower() not in stopwords.words('english')]

In [18]:
from sklearn.feature_extraction.text import CountVectorizer

In [19]:
bow_transformer = CountVectorizer(analyzer=text_process).fit(X_train)
print(len(bow_transformer.vocabulary_))

9276

In [21]:
bow_transformer1 = CountVectorizer(analyzer=text_process).fit(X_test)
print(len(bow_transformer.vocabulary_))

9276

In [22]:
#Now we can use .transform on our Bag-of-Words (bow) transformed object and transform the entire DataFrame of messages. Let's go ahead and check out how the bag-of-words counts for the entire SMS corpus is a large, sparse matrix:
MSG_bow = bow_transformer.transform(X_train)

In [23]:
#Now we can use .transform on our Bag-of-Words (bow) transformed object and transform the entire DataFrame of messages. Let's go ahead and check out how the bag-of-words counts for the entire SMS corpus is a large, sparse matrix:
MSG_bow1 = bow_transformer.transform(X_test)

In [27]:
MSG_bow
MSG_bow1

<3900x9276 sparse matrix of type '<class 'numpy.int64'>'
	with 35241 stored elements in Compressed Sparse Row format>

<1672x9276 sparse matrix of type '<class 'numpy.int64'>'
	with 12721 stored elements in Compressed Sparse Row format>

In [28]:
message4=X_train[4]
print(message4)

Nah I don't think he goes to usf, he lives around here though

In [33]:
message5=X_test[12]
print(message5)

URGENT! You have won a 1 week FREE membership in our å£100,000 Prize Jackpot! Txt the word: CLAIM to No: 81010 T&C www.dbuk.net LCCLTD POBOX 4403LDNW1A7RW18

In [34]:
bow4=bow_transformer.transform([message4])
print(bow4)
print(bow4.shape)

  (0, 2369)	1
  (0, 3851)	1
  (0, 4946)	1
  (0, 5567)	1
  (0, 6356)	1
  (0, 8456)	1
  (0, 8470)	1
  (0, 8757)	1
(1, 9276)

In [35]:
bow5=bow_transformer.transform([message5])
print(bow5)
print(bow5.shape)

  (0, 223)	1
  (0, 482)	1
  (0, 636)	1
  (0, 1083)	1
  (0, 1477)	1
  (0, 1936)	1
  (0, 2040)	1
  (0, 2517)	1
  (0, 2638)	1
  (0, 3087)	1
  (0, 3269)	1
  (0, 3291)	1
  (0, 6579)	1
  (0, 8921)	1
  (0, 9050)	1
  (0, 9113)	1
  (0, 9228)	1
(1, 9276)

In [36]:
from sklearn.feature_extraction.text import TfidfTransformer
tfidf_transformer=TfidfTransformer().fit(MSG_bow)
tfidf4 = tfidf_transformer.transform(bow4)
print(tfidf4)

  (0, 8757)	0.4020870195814694
  (0, 8470)	0.3599311130319841
  (0, 8456)	0.26992069605980273
  (0, 6356)	0.44085239615379945
  (0, 5567)	0.3455116033034295
  (0, 4946)	0.2457298580513726
  (0, 3851)	0.3164367278438613
  (0, 2369)	0.4020870195814694

In [37]:
from sklearn.feature_extraction.text import TfidfTransformer
tfidf_transformer1=TfidfTransformer().fit(MSG_bow1)
tfidf41 = tfidf_transformer.transform(bow5)
print(tfidf41)

  (0, 9228)	0.28578240914669323
  (0, 9113)	0.28578240914669323
  (0, 9050)	0.2090507728068902
  (0, 8921)	0.16545172474813244
  (0, 6579)	0.2722706386942146
  (0, 3291)	0.19666874194251557
  (0, 3269)	0.18057812854166724
  (0, 3087)	0.22607359038489244
  (0, 2638)	0.21648683668270993
  (0, 2517)	0.2491721145395535
  (0, 2040)	0.28578240914669323
  (0, 1936)	0.28578240914669323
  (0, 1477)	0.1718896536547076
  (0, 1083)	0.2722706386942146
  (0, 636)	0.28578240914669323
  (0, 482)	0.28578240914669323
  (0, 223)	0.17244047819975053

In [38]:
messages_tfidf=tfidf_transformer.transform(MSG_bow)
print(messages_tfidf.shape)

(3900, 9276)

In [39]:
messages_tfidf1=tfidf_transformer1.transform(MSG_bow1)
print(messages_tfidf1.shape)

(1672, 9276)

In [40]:
#running the naive bayes model on training data
from sklearn.naive_bayes import MultinomialNB
spam_detect_model = MultinomialNB().fit(messages_tfidf,Y_train)

In [41]:
#running the naive bayes model on testing data
from sklearn.naive_bayes import MultinomialNB
spam_detect_model1 = MultinomialNB().fit(messages_tfidf1,Y_test)

In [42]:
#checking between expected and predicted values for training
print('predicted:',spam_detect_model.predict(tfidf4)[0])
print('expected:',new_spam_df.SPAM[3])

predicted: ham
expected: ham

In [43]:
#checking between expected and predicted values for testing
print('predicted:',spam_detect_model1.predict(tfidf41)[0])
print('expected:',new_spam_df.SPAM[2])

predicted: spam
expected: spam

In [44]:
#Model Evaluation for training 
all_predictions = spam_detect_model.predict(messages_tfidf)
print(all_predictions)

['ham' 'ham' 'spam' ... 'ham' 'ham' 'ham']

In [45]:
#Model Evaluation for testing
all_predictions1 = spam_detect_model1.predict(messages_tfidf1)
print(all_predictions1)

['ham' 'ham' 'ham' ... 'ham' 'ham' 'ham']

In [46]:
all_predictions.shape

(3900,)

In [47]:
all_predictions1.shape

(1672,)

In [48]:
#showing the confusion matrix to check for misclassifications for training data
from sklearn.metrics import classification_report,confusion_matrix
print(classification_report(Y_train,all_predictions))
print(confusion_matrix(Y_train,all_predictions))

              precision    recall  f1-score   support

         ham       0.98      1.00      0.99      3378
        spam       1.00      0.84      0.91       522

   micro avg       0.98      0.98      0.98      3900
   macro avg       0.99      0.92      0.95      3900
weighted avg       0.98      0.98      0.98      3900

[[3378    0]
 [  86  436]]

In [49]:
#showing the confusion matrix to check for misclassifications for testing data
print(classification_report(Y_test,all_predictions1))
print(confusion_matrix(Y_test,all_predictions1))

              precision    recall  f1-score   support

         ham       0.94      1.00      0.97      1447
        spam       1.00      0.59      0.74       225

   micro avg       0.94      0.94      0.94      1672
   macro avg       0.97      0.79      0.85      1672
weighted avg       0.95      0.94      0.94      1672

[[1447    0]
 [  93  132]]

In [50]:
#confusion matrix for training set as a dataframe for better vizualization
from sklearn.metrics import confusion_matrix

pd.DataFrame(
    confusion_matrix(Y_train, all_predictions),
    columns=['Predicted ham ', 'Predicted spam'],
    index=['True ham', 'True spam']
)

           Predicted ham   Predicted spam
True ham             3378               0
True spam              86             436

In [51]:
#confusion matrix for testing set as a dataframe for better vizualization
from sklearn.metrics import confusion_matrix

pd.DataFrame(
    confusion_matrix(Y_test, all_predictions1),
    columns=['Predicted ham ', 'Predicted spam'],
    index=['True ham', 'True spam']
)

           Predicted ham   Predicted spam
True ham             1447               0
True spam              93             132

In [52]:
print("Accuracy for training data:",accuracy_score(Y_train, all_predictions))

Accuracy for training data: 0.977948717948718

In [53]:
print("Accuracy for testing data:",accuracy_score(Y_test, all_predictions1))

Accuracy for testing data: 0.944377990430622